.currency_container {
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: 80px;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 0 auto;
}

.currency {
    display:flex;
    align-items: center;
}

.currency img {
    
}